<div class="allme">
  <div class="goramnie">
  	<div class="zawartosgory">
     	<div class="foteczka">
       		<%= image_tag('http://pics.tinypic.pl/i/00673/9p07lughncw5.jpg',{:alt => 'foto'}) %>
      </div>
    	<p class="n1">nazywam się <span>Aadrian Zdanowicz</span></p>
    	<p class="n2">Jestem studentem drugiego roku informatyki na Uniwersytecie Śląskim.</p>  
 		</div>
	</div>
  <div class="pofoto">
    <h2>Mam 21 lat.</h2>
    <p>Urodziłem się w Oświęcimiu, gdzie mieszkałem przez większość życia. Ukończyłem technikum informatyczne w Powiatowym Zespole Nr 3
Szkół Technicznych i Ogólnokształcących im. por. Stefana
Jasieńskiego w Oświęcimiu, ze specjalizacją "Tworzenie stron WWW i aplikacji internetowych". Po technikum przeniosłem się do Katowic, gdzie studiuję Informatykę na Uniwersytecie Śląskim w Katowicach.</p>
  </div>
  <div class="pozyc">
    <p class="inter">interesuje się<span>programowaniem</span></p>
  
  </div>
  <div class="pofoto">
    <h2>Programować zacząłem w technikum.</h2>
    <p>Tam też rozpoczęła się moja przygoda z tworzeniem aplikacji internetowych. Z czasem poznałem kilka języków programowania, lecz pisanie w żadnym z nich nie sprawiło mi tyle przyjemności, co pisanie w Ruby.</p>
    <h2>Póki co poznałem następujące języki programowania:</h2>
  </div>
 
  <div class="jezyki">
    <%= image_tag('http://pics.tinypic.pl/i/00673/bqtds4emdjh2.png',{:alt => 'jezyki'}) %>
  </div>
  <div class="pofoto">
    <h2>Ale to dopiero początek!</h2>
    <p>Na bieżąco ucze się nowych technologii i rozwijam nabyte już umiejętności. Nieustannie dążę do tego, by być coraz lepszym programistą, by wkrótce stać się specjalistą.</p>   
  </div>
  <div class="welse">
    <p class="coje">co jeszcze<span>potrafię?</span></p>
    </div>
  <div class="pofoto">
    <h2>Dobrze znam język angielski.</h2>
    <p>Ponadto potrafię pracować na bazach danych MySQL oraz Oracle. Doskonale znam systemy operacyjne Windows, oraz dobrze znam systemy Unixowe. Posiadam więdzę w zakresie budowy komputerów, urządzeń peryferyjnych, oraz potrafie je konfigurować. Bardzo dobrze znam sieci komputerowe. Posiadam prawo jazdy kat. B.</p>   
  </div>
  <div class="woln">
    <p class="czwoln">co robię w <span>wolnym czasie?</span></p>
    </div>
  <div class="pofoto">
    <h2>Staram się nie nudzić!</h2>
    <p>Interesuje się między innymi muzyką, na bieżąco śledzę wydarzenia w branży muzycznej, odsłuchuje albumy ulubionych artstów, poszerzam swoje muzyczne horyzonty. Interesuje się także technologią, sportem, kinematografią i motoryzacją. Staram się aktywnie spędzać czas.</p>   
  </div>
</div>
