

<div class="main">
   
                    
           
<div class="mcontainer col-md-6 col-md-offset-6">

<h1>Adrian Zdanowicz</h1>
  <p class="btn"><%= link_to 'O mnie', omnie_path  %>
  </p>
				</div>
		
</div>
<div class="dol">
<div class="dcontainer"><h2>Interesuje sie programowaniem.</h2>
<p>Zaczynałem od C++, nastepnie PHP, aż zainsteresowałem sie Ruby.</p></div>

