<div class="post">
<div class="containerbox">
<h1>Edytuj post</h1>

<%= render 'form' %>
<p class="tam">
<%= link_to 'Pokaż', @post, :class => "gugu"  %>
<%= link_to 'Powrót', '/blog', :class => "gugu"  %>
</p>
</div>
</div>